body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 150px;
    height:100%;
    color: whitesmoke;
    background-color: rgb(38, 38, 71);
    padding: 0px 0px 0px 0px;
    z-index: 999;
    justify-content: flex-start;
    padding: 20px 0;
}

.header-logo img {
    width: 50px;
    height: auto;   
    margin-bottom: 20px;
}

.header-logo {
    transition: all 1.0s;
}

.header-logo:hover {
    transform: translateY(20px);
}

.header-links {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
}

.header-links a {
    flex-direction: row;
    text-decoration: none;
    color: #E5E7EB;
    padding: 10px;
}

.header-links a:hover {
    background-color: lightblue;
    cursor: pointer;
    color: white;
    text-shadow: 2px 2px 1px black;
}




.footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background-color: rgb(121, 15, 7);
    text-align: center;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height:50px;
    align-items: left;
    bottom: 0;
    z-index: 999;
    justify-content: center;
}
