body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 5px;
    bottom: 65px;
    left: 5px;
    width: 150px;
    color: whitesmoke;
    background-color: rgb(38, 38, 71);
    padding: 0px 0px 0px 0px;
    z-index: 999;
    justify-content: flex-start;
    padding: 20px 0;
    border: 3px solid rgb(38, 38, 71);
}

.header-logo img {
    width: 50px;
    height: auto;   
    margin-bottom: 20px;
}

.header-logo {
    transition: all 1.0s;
}

.header-logo:hover {
    transform: translateY(20px);
}

.header-links {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
}

.header-links a {
    flex-direction: row;
    text-decoration: none;
    color: #E5E7EB;
    padding: 10px;
}

.header-links a:hover {
    background-color: lightblue;
    cursor: pointer;
    color: white;
    text-shadow: 2px 2px 1px black;
}

.body {
    margin-top: 5px;
    margin-left: 170px;
    margin-right: 50px; 
    padding-top: 5px; 
    display: flex; 
    flex-direction: column;
    border: 1px solid rgb(38, 38, 71)
}

.body-header {
    margin-top: 0px;
    margin-left: 5px; 
    padding: 0px;
    border: 5px solid rgb(38, 38, 71);
}

.sections {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.subsection {
    display: flex; 
    flex-direction: column;
    margin-bottom: 50px;
    margin-right: 30px;
    padding: 5px;
}

.subsection h3{
    padding: 5px;
    border: 5px solid rgb(121, 15, 7);
}


.footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background-color: rgb(121, 15, 7);
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 5px 5px 5px 5px;
    height:50px;
    width: calc(100% - 20px);
    align-items: left;
    bottom: 0;
    z-index: 999;
    justify-content: center;
    border: 3px solid rgb(38, 38, 71);
}
